*{
  margin:0;
  padding: 0;
}


.cardHolder .cardHeader{
  display: flex;
  width: 97%;
  margin: 10px 0 0 0;
  font-size: 13px;
  text-align: center;
  font-family: 'Montserrat';
}

.cardHolder .cardHeader span:nth-child(1){
  flex: 1 25%;
}

.cardHolder .cardHeader span:nth-child(2){
  flex: 1 50%;
  font-size: 14px;
  font-weight: bold;
}
.cardHolder .cardHeader span:nth-child(3){
  flex: 1 25%;
}
.cardHolder > li:last-child{
	margin-bottom: 100px;
}
.cardHolder > li{
  -webkit-box-shadow: -1px 4px 28px -1px rgba(0,0,0,0.2);
	-moz-box-shadow: -1px 4px 28px -1px rgba(0,0,0,0.2);
	box-shadow: -1px 4px 28px -1px rgba(0,0,0,0.2);
	display: flex;
	position: relative;
	max-height:78%;
	margin: 10px 0 5px 0;
	background-color: #f3f3f3;
	border-radius: 5px;


	align-content: flex-start;
	align-items: center;
	overflow: auto;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
  font-size: 10px;
}


.cardHolder img{
  border-radius: 5px;
  margin-top: 5px;
}
.cardHolder .cardMain{
  padding: 0;

  margin: 0;
  width: 100%;
}


.cardHolder .divForBtnInCard{
  display: flex;
  align-items: center;
  justify-content: center;
}
.cardHolder .cardMain button{
  font-family: 'Montserrat';
  background-color: #00ceff;
  height: 35px;
  width: 50%;
  margin: 0;
  color: white;
  font-size: 13px;
}
.btnShowInfoTrack{
  border-left: 0.2px solid white;
  border-top-width: 0px;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
}
.btnGoToTimer{
  border-right: 0.2px solid white;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}

.cardHolder .trackComments img,
.cardHolder .trackResult img{
  float: left;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  margin-right: 10px;
}
.cardHolder .cardMain p{
  margin: 15px 0 15px 0;
  font-family: 'Montserrat';
  font-size: 11px;
  margin-left: 5%;

}
.cardHolder .toggle{
  width: 95%;
  max-height: 0;
  overflow: hidden;
  flex-direction: column;

}

.cardHolder .trackResult p:nth-of-type(1){
  font-weight: 600;
  padding-top:5px;
}
.cardHolder .trackComments p:nth-of-type(1){
  font-weight: 600;
  padding-top:5px;
}

.cardHolder .trackResult,
.cardHolder .trackComments{
  width: 90%;
  margin: 5px auto;
  border-radius: 5px;
  background-color: rgb(215, 215, 215);
  margin-bottom: 20px;
  padding-bottom: 10px;
}

.cardHolder .innerContainerResults li{
  padding: 5px 5px 0px 8px;
  min-height: 30px;
}
.cardHolder .innerContainerComments li{
  padding: 5px 5px 0px 8px;
  min-height: 30px;
}


.cardHolder .innerContainerResults h3,
.cardHolder .innerContainerComments h3{
  margin-left: 20px;
  font-size: 13px;
}


.cardHolder .fas{
  color: #FF2BE6;

}



.cardHolder .innerContainerResults h3, .cardHolder .innerContainerComments h3{
  font-family: 'Montserrat';
  margin: 10px 0 0 0;
  padding: 0;
}


.cardHolder .trackResult, .cardHolder .trackComments{
  margin: 0 0 10px 0;
  width: 100%;
}

.cardHolder .trackResult, .cardHolder .trackComments p{
  font-size: 12px;
  font-family: 'Montserrat';
}

.cardHolder .cardHeader span:nth-child(2){
  font-weight: bold;
  font-size: 14px;
}

.cardHolder .trackComments img, .cardHolder .trackResult img{
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

.cardHolder .trackResult p:nth-of-type(1){
  font-size: 12px;
  font-family: 'Montserrat';
}


@media screen and (min-width: 501px){

  .wrapper-Tracks{
    margin-top: 85px;
  }
  .btnGoToTimer{
    display: none;
  }
  /*** OSKAR **/

  .cardHolder .cardMain{
    padding: 0;
    margin: 0;
    width: 100%;
    min-height: 0px;
    text-align: center;

  }

  .cardHolder .cardHeader{
    position: static;
    margin: 10px 0 0 0;
    font-size: 13px;
  }
  .cardHolder .cardMain p{
    margin: 15px 0 15px 0;
    font-family: 'Montserrat';
    font-size: 11px;

  }
  .cardHolder .cardMain button{
    border-radius: 0px;
    font-family: 'Montserrat';
    border: none;
    margin: 0;
    padding: 0;
    width: 100%;
  }
  .cardHolder > li{
    min-height: none;
    padding: 0;
  }
  .wrapper-Tracks{
    margin-top: 10px;
  }

  /** DROP DOWN INFO **/
  .cardHolder .innerContainerResults h3, .cardHolder .innerContainerComments h3{
    font-family: 'Montserrat';
    margin: 10px 0 0 0;
    padding: 0;
  }

  .cardHolder .trackResult, .cardHolder .trackComments{
    margin: 0 0 10px 0;
    width: 100%;
  }

  .cardHolder .trackResult, .cardHolder .trackComments p{
    font-size: 12px;
    font-family: 'Montserrat';
  }

  .cardHolder .cardHeader span:nth-child(2){
    font-weight: bold;
    font-size: 14px;
  }

  .cardHolder .trackComments img, .cardHolder .trackResult img{
    height: 35px;
    width: 35px;
    border-radius: 50%;
  }

  .cardHolder .trackResult p:nth-of-type(1){
    font-size: 12px;
    font-family: 'Montserrat';
  }


}
