*{
  margin:0;
  padding: 0;
}
.innerContainer-Tracks{
  position: absolute;
}
.wrapper-Tracks{
  display: flex;
  margin: 0 auto;
}
.cardHolder ul{
  display: flex;
  margin: 5px auto;
  width: 98%;
  list-style: none;
  color: white;
}

.cardHolder li{
  flex: 1 1 auto;
  position: relative;
  margin: 0px 10px;
  list-style: none;
  border-radius: 5px;
  background-color: rgba(252, 197, 115, 0.44)

}
.cardHolder .cardMain{
  min-height: 50px;
  padding: 5px;
  margin: 10px auto;
  width: 95%;
}

.cardHolder .cardMenu{
  min-height: 30px;
  width: 100%;
  display: flex;
  padding: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
.cardHolder .cardMenu div{
  line-height: 35px;
}

.cardHolder .cardMain button{
  background-color: rgba(255, 255, 255, 0);
  border-radius: 5px;
  border-color: #ffa834;
  height: 35px;
  width: 75px;
  margin-top:20px;

}
