*{
  margin:0;
  padding: 0;
}
.innerContainer-Tracks{
  position: absolute;
}
.wrapper-Tracks{
  display: flex;

}
.cardHolder ul{
  padding: 5px;
  margin: 5px auto;
  width: 98%;
  list-style: none;
  color: white;
}

.cardHolder li{
  flex: 1 1 auto;
  position: relative;
  margin: 0px 10px;
  list-style: none;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 1);
}
.cardHolder img{
  border-radius: 5px;
}
.cardHolder .cardMain{
  min-height: 50px;
  padding: 5px;
  margin: 10px auto;
  width: 95%;
}

.cardHolder .cardMenu{
  min-height: 30px;
  width: 100%;
  display: flex;
  padding: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
.cardHolder .cardMenu div{
  line-height: 35px;
}

.cardHolder .cardMain button{
  background-color: rgba(255, 255, 255, 0);
  border-radius: 5px;
  border-color: #ffa834;
  height: 35px;
  width: 75px;
  margin-top:20px;

}

.cardHolder .trackComments div{
  background-color: rgb(220, 220, 220);
  color:black;
  padding: 10px;
  border-radius: 5px;
}

.cardHolder .trackResult div{
  background-color: rgb(220, 220, 220);
  color:black;
  padding: 10px;
  border-radius: 5px;
}
.cardHolder .trackComments img{
  float: left;
  border-radius: 20%;
  height: 30px;
  width: 30px;
  border-radius:10%;
  margin-right: 10px;
}
.cardHolder .trackResult img{
  float: left;
  border-radius: 20%;
  height: 30px;
  width: 30px;
  border-radius:10%;
  margin-right: 10px;
}

.cardHolder .toggle{
  display: none;
}
