*{
  margin: 0;
  padding: 0;
}
body, html {
    height:100%;
}
.containerCommunity{
  width: 100%;
  height: 100%;
flex-wrap: wrap;



}


.chatt{
  position: relative;
  max-height:80%;
  width: 100%;
  align-self: flex-end;
  margin-bottom: 84px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  overflow: auto;

}


.containerMessage{
  -webkit-box-shadow: -1px 4px 28px -1px rgba(0,0,0,0.2);
  -moz-box-shadow: -1px 4px 28px -1px rgba(0,0,0,0.2);
  box-shadow: -1px 4px 28px -1px rgba(0,0,0,0.2);
  border-radius: 5px;
  margin: 10px 0 5px 0;
  width: 95%;
  min-height: 75px;
  background-color: #f3f3f3;
  display: flex;
  flex-direction: column;
  align-content: flex-start;



}

.containerHead{
  background-color: gren;
  width: 100%;
  display: flex;
}

.containerMain{
  word-wrap: break-word;
  display: flex;
  background-color: ble;
  width: 100%;
  white-space: pre-line;

}
.imageMessage{

  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #a5a5a5;
  margin: 7px;
}
.containerTime{
  display: flex;
  width: 100%;

}

.nameMessage{
  margin: 12px 0 0 0;
  font-size: 13px;
  font-family: 'Montserrat';

}

.mainMessage{
  white-space: pre-line;
  word-wrap: break-word;
  margin: 2px 7px 0 7px;
  font-size: 10px;
  font-family: 'Montserrat';
}

.timeMessage{
  margin: 0 0 0 7px;
  padding: 5px 0 0 0 ;
  font-size: 10px;
  font-family: 'Montserrat';
  color: #5f5f5f;
}
.send{
  width: 100%;
  display: flex;
  position: fixed;
  bottom: 42px;
  left: 0;
  height: 40px;
}


.send input{
  height:80%;
  width: 100%;
  font-family: 'Montserrat';
  font-size: 12px;
  padding: 0 5px;
  border: none;
  border-radius: 2px;
}
.send button{
  color: white;
  font-family: 'Montserrat';
  height: 80%;
  width: 15%;
  border-radius: 0px;
  border: none;
  padding: 0 3px;
  background-color: #00ceff;
}

#iconSend{
  color: white;
  font-size: 20px;
}

.togglePage{
  font-size: 14px;
  color: white;
  width: 100%;
  font-family: 'Montserrat';
  display: flex;
  margin: 5px 10px;
  height: 30px;
  justify-content: space-between;
}


.togglePage p {
  padding: 7px;
}

#toggleChat{
  visibility: hidden;
}



/*

@media screen and (max-width: 320px){
  .containerChatt{
    height: 91%;
  }

}

@media screen and (min-width: 321px)and (max-width: 415px){
  .containerChatt{
    height: 93.5%;
  }
  .send{
    height: 5%;
  }
}
*/
