body{
  width: 100%;
  background: #ffa834;
  margin: 0;
  padding: 0;
}

.containerTimer {
  display: none;
}

.containerPrestation {
  display: none;
}

.containerRoute {
  display: none;
}

.containerCommunity {
  display: none;
}



#map {
        height: 100%;
      }

      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }

@media screen and (max-width: 1000px) and (min-width: 320px){
  .navContainer{
    width: 100%;
    height: 50px;
    background-color: #fbb659;
    position: fixed;
    bottom: 0;
    display: none;

  }

  .navContainer ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
    padding: 0;
    margin: 0px 0 0 0;
  }

  .navContainer button{
    margin-top:auto;
    outline: 0;
    cursor: pointer;
    padding: 12px 20px;
    border-radius: 1px;
    border: 0px solid transparent;
    background: transparent;
  }
}

/****** container track test****/




/** TEST COLORS FOR ROUTING ***/
.containerTimer{
  display: none;

  width: 100%;
  height: 100%;
}
.containerPrestation{
  display: none;

  width: 100%;
  height: 100%;
}
.containerRoute{
  display: none;
  height: 100%;
  width: 100%;
}
.containerCommunity{
  display: none;
  width: 100%;
  height: 100%;
}
.containerProfile{
  display: none;

  width: 100%;
  height: 100%;
}
