
.containerPrestation{
	display: none;
	flex-direction: column;
	width: 100%;
  overflow-y: auto;
	padding-bottom: 80px;
	align-items: center;
	font-family: 'Montserrat';
	font-size: 10px;
}

.containerPrestation .prest:last-child{
	margin-bottom: 100px;
}


.containerPrestation  .prest{
	-webkit-box-shadow: -1px 4px 28px -1px rgba(0,0,0,0.2);
	-moz-box-shadow: -1px 4px 28px -1px rgba(0,0,0,0.2);
	box-shadow: -1px 4px 28px -1px rgba(0,0,0,0.2);
	display: flex;
	position: relative;
	width: 95%;
	max-height:78%;
	min-height: 100px;
	margin: 10px 0 5px 0;
	background-color: #f3f3f3;
	border-radius: 5px;
	padding-left: 5px;
	padding-right: 5px;
	align-content: flex-start;
	align-items: center;
	overflow: auto;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;

}

.switchBox {
	text-align: left;
	flex: 1 auto;
	cursor: pointer;

}


.switch {
 	width: 42px;
 	height: 22px;
 	background-color: gray;
 	border-radius: 30px;
 	padding: 2px;

}

.switch > .switchCircle{
	width: 22px;
	height: 22px;
	background-color: #fff;
	border-radius: 50%;
	transition: .4s;

}

.switch.active {
	background-color: #00acee;

}

.switch.active > .switchCircle{
	margin-left: 20px;
}



#totalStat{
	border-radius: 0;
	height: 27px;
	margin: 0;
	flex: 0;
	position: fixed;
	bottom: 50px;
	width: 100%;
	background-color: white;
	z-index: 100;
}


.containerPrestation > div > span{
	flex: 1 25%;
}


.containerPrestation .prest .nameOfTrack{
	margin-top:5px;
	flex: 1 50%;
	font-size: 13px;
}
.containerPrestation .prest .place{
	flex: 1 50%;
	font-size: 13px;
	margin-top:5px;
}


.containerPrestation .fail{
	color: red;
}
.containerPrestation .prestInput{
	flex: 1 80%;
	margin: 10px 10px 5px 0px;
	height: auto;
	border: none;
	font-size: 10px;
	border-radius: 5px;
	padding: 3px;
}
.containerPrestation .divBtnPrest{
	display: flex;
	flex: 1 100%;
}

.containerPrestation .divBtnPrest .btnRemove,
.containerPrestation .divBtnPrest .btnStars{
	flex: 1 50%;
	max-width: 85px;
	margin-left: 10px;
	border-radius: 5px;
	background-color: inherit;
}


@media screen and (min-width: 500px){
	body{
		display: flex;
	}
	.containerPrestation >:nth-child(3){
		margin-top: 205px;
	}

	.containerPrestation{
		flex: 1 50%;
	}

	#totalStat{
		position: relative;
		top: 65px;
		background-color: #ffa834;
	}

}
