*{
  margin: 0;
  padding: 0;
}
/** GOOGLE MAPS **/
#map{
   height: 100%;
  width: 100%;

}

.containerRoute{
  height: 100%;
  width: 100%;
  position: relative;


}
/** TOOGLE BUTTON **/
.hej{
  position: absolute;
  display: none;
  top:0;
  left: 0;
  justify-content: center;
  color: white;
  background-color: #00ceff;
  font-family: 'Montserrat';
  width: 100%;
  height: 30px;

}

.hej p {
    margin: 5px 0 0 0;
    font-size: 14px;
}

#overmap{
  position: absolute;
  top: 40px;
  height: 90%;
  width: 100%;
  left: 0;

  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;


}
.wrapper-Tracks{

  overflow: auto;
  width: 95%;
  height: 90%;
}
