#start{
   background: #5d8ffc;
    color: #fff;
     border: 1px solid #5d8ffc;
    border-radius:5px;
    padding: 15px;
    display: block;
    width: 40%;
    margin-bottom: 20px;
    display: block;
    bottom: 20%;
    position: fixed;
    bottom: 30%;
    margin-left: 10px;
}

#stop{
     background: #5d8ffc;
    color: #fff;
     border: 1px solid #5d8ffc;
    border-radius:5px;
    padding: 15px;
    display: block;
    width: 40%;
    margin-bottom: 20px;
    display: block;
    bottom: 20%;
    position: fixed;
    bottom: 30%;
}
}

#spotify{
    background: #1db954;
    color: #fff;
     border: 5px solid #1db954;
    border-radius:5px;
    padding: 18px;
    display: block;
    width: 100%;
    margin-bottom: 90px;
    position: fixed;
    bottom: 5%;
        
}

h1{
    position: fixed;
    top: 150px;
    left: 70px;
    font-size: 60px;
    
        
}

#spotifyList{
    position: fixed;
    bottom: 5%;
    border-style: solid 1px;
    
}