.containerTimer{
  display: none;
  position: relative;
  width: 100%;
  align-items: center;
  justify-content: center;
  color: White;
  font-family: "Droid Sans Mono";
}

.containerTimer .timerBtn{
  display: flex;
  position: relative;
  width: 100%;
  top: 100px;
}
.containerTimer #btnClockStop{
  background-color: #00ceff;
  color: white;
  border-radius: 10px;
  height: 50px;
  position: absolute;
  margin: 10px 20px;
  display: none;
  top: -80px;
  width: 100px;
  text-align: center;
  left: 22px;
}

.containerTimer #btnShowStars{
  background-color: #00ceff;
  color: white;
  border-radius: 10px;
  height: 50px;
  position: absolute;
  margin: 10px 20px;
  display: none;
  text-align: center;
  top: -80px;
  width: 100px;
  right: 24px;
}
.containerTimer #btnClockPause{
  background-color: #00ceff;
  color: white;
  border-radius: 10px;
  height: 75px;
  flex: 1 1 20%;
  display: none;
  margin: 10px 40px;
  text-align: center;
}
.containerTimer #btnStartClock{
  background-color: #00ceff;
  color: white;
  padding: 10px;
  border-radius: 10px;
  height: 75px;
  flex: 1 60%;
  margin: 10px 40px;

}

.containerTimer .menu{
  flex: 1 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.containerTimer .menu p{
  flex: 1 50%;
  text-align: center;
}

.containerTimer .timer{
  font-size: 3.5em;
  position: fixed;
  top: 25vh;
  width: 95%;
  text-align: center;
}

.containerTimer .infoTrack{
  position: absolute;
  top: 2px;
  left: 0;
  right: 0;
  font-size: 1em;
}

.containerTimer .weather{
  width: 80px;
  height: 200px;
  overflow: hidden;
  top: 4px;
  position: absolute;
  right: 5px;
}
.containerTimer .weatherIconDiv{
  width: 80px;
  height: 60px;
  overflow: hidden;
  top: 0px;
  position: absolute;
  right: 5px;
}
.containerTimer .weather img{
  width: 400px;

  position: absolute;

}
.containerTimer .weather #weatherTemperature{
  z-index: 100;
  color: white;
  font-size: 1.2em;
  right: 10px;
  position: absolute;
  top: 55px;
}
.containerTimer .weather #weatherWindSpeed{
  z-index: 100;
  color: white;
  font-size: 1.2em;
  right: 10px;
  position: absolute;
  top: 78px;
}

.containerStars{
  display: none;
  width: 100%;
  height: 100vh;
  position: absolute;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 15px;
  background-color: #ffa834cc;
  z-index: 200;
}

#btnSaveToDb{
  background-color: #00ceff;
  color: white;
  border-radius: 10px;
  height: 40px;
  margin: 15px 20px;
  text-align: center;
  top: -80px;
  width: 100px;
  right: 24px;
}

.containerStars ul li{
  display: inline-block;
  list-style-type: none;
}
.containerStars ul{
  flex:1 100%;
}
