
* {
	box-sizing: border-box;
}
/*loader2*/

	.lds-spinner {
		display: none;
	 	 color: official;
	  	/*display: inline-block;*/
	 	 position: absolute;
	 	display: none;
	 	left: 48%;
	 	top: 50%;
		 z-index: 16;
	  	width: 64px;
	  	height: 64px;
	}
	.lds-spinner div {
	  transform-origin: 32px 32px;
	  animation: lds-spinner 1.2s linear infinite;
	}
	.lds-spinner div:after {
	  content: " ";
	  display: block;
	  position: absolute;
	  top: 3px;
	  left: 29px;
	  width: 5px;
	  height: 14px;
	  border-radius: 20%;
	  background: #fff;
	}
	.lds-spinner div:nth-child(1) {
	  transform: rotate(0deg);
	  animation-delay: -1.1s;
	}
	.lds-spinner div:nth-child(2) {
	  transform: rotate(30deg);
	  animation-delay: -1s;
	}
	.lds-spinner div:nth-child(3) {
	  transform: rotate(60deg);
	  animation-delay: -0.9s;
	}
	.lds-spinner div:nth-child(4) {
	  transform: rotate(90deg);
	  animation-delay: -0.8s;
	}
	.lds-spinner div:nth-child(5) {
	  transform: rotate(120deg);
	  animation-delay: -0.7s;
	}
	.lds-spinner div:nth-child(6) {
	  transform: rotate(150deg);
	  animation-delay: -0.6s;
	}
	.lds-spinner div:nth-child(7) {
	  transform: rotate(180deg);
	  animation-delay: -0.5s;
	}
	.lds-spinner div:nth-child(8) {
	  transform: rotate(210deg);
	  animation-delay: -0.4s;
	}
	.lds-spinner div:nth-child(9) {
	  transform: rotate(240deg);
	  animation-delay: -0.3s;
	}
	.lds-spinner div:nth-child(10) {
	  transform: rotate(270deg);
	  animation-delay: -0.2s;
	}
	.lds-spinner div:nth-child(11) {
	  transform: rotate(300deg);
	  animation-delay: -0.1s;
	}
	.lds-spinner div:nth-child(12) {
	  transform: rotate(330deg);
	  animation-delay: 0s;
	}
	@keyframes lds-spinner {
	  0% {
	    opacity: 1;
	  }
	  100% {
	    opacity: 0;
	  }
	}



/*Login page*/
.containerLogin {
	height: 100%;
	width: 100%;
}

/*wrapUsers Mobile*/
#containerLoginMob {
	font-family: 'Open Sans', Arial, sans-serif;
	word-wrap: break-word;
	line-height: 30px;
	position: relative;
	font-size: 16px;
	width: 100%;
	min-width: 250px;
	display: flex;
	flex-flow: column nowrap;
    justify-content: center;
	color: white;
}
	#containerLoginMob h1 {
		font-size: 4rem;
		text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
		text-align: center;
		font-family: 'Fugaz One';
		font-weight: bold;
		margin-top: 30%;
		margin: 0 auto;
		margin-top: 150px;
		letter-spacing: 1px;
	}
	#errorMessage {
		display: none;
	}
	#wrapBtnLogin {
		margin: 50px auto;
		width: 240px;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: flex-start;
	}
	.btnLogin{
		-webkit-box-shadow: -1px 4px 28px -1px rgba(0,0,0,0.2);
	  -moz-box-shadow: -1px 4px 28px -1px rgba(0,0,0,0.2);
	  box-shadow: -1px 4px 28px -1px rgba(0,0,0,0.2);
		font-family: 'Montserrat';
		font-size: 15px;
	}
	#iconF{
		font-size: 16px;
		padding: 0;
		margin: 0;
		margin: 0 10px 0 15px;
	}
	#iconG{
		font-size: 16px;
		padding: 0;
		margin: 0;
		margin: 0 10px 0 15px;

	}
	#wrapBtnLogin .btnLogin {
		width: 230px;
		border: 2px solid white;
		border-radius: 25px;
		display: flex;
		justify-content: flex-start;
		padding-top: 10px;
		padding-bottom: 10px;
		padding-right: 5px;
		padding-left: 5px;
		background-color: white;
		color: #23103A;

		animation-name: fadeIn;
		animation-delay: 2s;
		margin-bottom: 5px;
		margin-top: 10px;
		/*text-align: center;*/

	}

/** TEST PROFILE DESIGN **/
#containerProfil {
	flex-flow: row wrap;
	min-width: 250px;
}


.profilMobil{
	height: 90%;
	width: 100%;
}


.headProfil{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	flex-wrap: wrap;
	width: 100%;
	height: 60%;

}

#settings{
	color: white;
	position: absolute;
	top: 15px;
	right: 15px;
	font-size: 20px;

}

#markerLocation{
	font-size: 12px;
	margin: 0 5px 0 0;
	display: none;
}
#profilePicture{
	width: 150px;
	height: 150px;
	background-color: grey;
	border-radius: 50%;
	margin: 40px 0 0 0;
	-webkit-box-shadow: -1px 4px 28px -1px rgba(0,0,0,0.3);
	-moz-box-shadow: -1px 4px 28px -1px rgba(0,0,0,0.3);
	box-shadow: -1px 4px 28px -1px rgba(0,0,0,0.3);
}

.profileInfo{
	font-family: 'Montserrat';
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 50%;
	justify-content: center;
	margin: 15px 0 0 0;
}
.profileInfo p {
	text-align: center;
}

.profileName{
	color: white;
	font-size: 17x;
}

.profileLocation{
	color: #f4f4f4;
	font-size: 14px;
	display: flex;
	flex-flow: row nowrap;
	text-align: center;
	justify-content: center;
}

#containerSome{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 40%;
}


.divProfile{
	height: 20%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	width: 95%;
	margin:0 0 10px 0;

}

.divProfile p{
	font-size: 16px;

	font-family: 'Montserrat';
	margin: 0 10px 0 10px;
}
.categori{
	color: white;
}
.dynamic{
	color: #f4f4f4;
}
	/*Profile page styles*/


/**EDIT PAGE **/

#innerProfil2 {
	display: none;
	width: 100%;
	position: relative;
	transition: all .5s ease-out;
	margin-left: 5px;
	margin-right: 5px;margin-top: 5px;
	min-width: 200px;
}
	.form_content2 {
		position: relative;
		display: flex;
		flex-flow: column wrap;
		justify-content: space-around;
	}
	.form_content2 .form {
		max-width: 400px;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	#form_content2 {
			padding: 5px;
		}
	.top_form {
		margin-bottom: 15px;
	}

		#form_content2 input {
			 outline: none;
			 transition: .2s all linear;
			 display: flex;
			 padding: 8px;
			 width: 100%;
			 margin: 10px 0;
			 height: 30px;
			 border: 2px solid white;
			 color: grey;
		}
		#form_content2 label {
			color: white;
			font-size: 1.1rem;
		}

	.picProfile {
		max-width: 250px;
		max-height: 250px;
		width:auto;
	    height:auto;
	    min-width: 150px;
	    flex: 0 0 auto;
	    border-radius: 50%;
	    /*
	    background-color: grey;
		border-radius: 50%;
		margin: 40px 0 0 0;
		-webkit-box-shadow: -1px 4px 28px -1px rgba(0,0,0,0.3);
		-moz-box-shadow: -1px 4px 28px -1px rgba(0,0,0,0.3);
		box-shadow: -1px 4px 28px -1px rgba(0,0,0,0.3);*/
	}
	#logOut {
		position: relative;
		float: right;
		background-color: transparent;
		border: none;
	}
	#logOut .fa-sign-out-alt {
		font-size: 36px;
		color: white;
	}
		#signOutPic {
			height: 50px;
			width: 50px;
		}

	.btnProfil {
		width: 100%;
		background-color: transparent;
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		margin: 0 auto;
	}

		.btnProfil .btnsProfil {
			width: 170px;
			border: 2px solid #ffa834;
			border-radius: 5px;
			padding-top: 10px;
			padding-bottom: 10px;
			padding-right: 5px;
			padding-left: 5px;
			background-color: #00ceff;
			color: white;
			font-size: 1.1rem;
			animation-name: fadeIn;
			animation-delay: 2s;
			margin-bottom: 5px;
			margin-top: 10px;
			text-align: center;
		}

		#selectGender2 {
			margin-top: 15px;
			margin-bottom: 10px;
			margin-left: 10px;
		}

/*Redigera profil vid första inloggning*/

#moreInfoProfile {
	position: absolute;
	z-index: 10;
	/*margin: auto;*/
	width: 300px;
	left: 20%;
	left: 0;
  	right: 0;
  	margin-left: auto;
  	margin-right: auto;
	background-color: white;
	top: 20%;
	border: 2px solid #f3f3f3;
	padding: 10px;
	display: none;
	background-color: #f3f3f3;
}

	#btnAdd, #btnSenare {
		border: 2px solid #f3f3f3;
	}

	#moreInfoProfile p {
		color: #2f2f2f;
		font-size: 1.1rem;
	}

		div.formProfil {
			max-width: 400px;
			margin: 0 auto;
		}

		#form_content {
			padding: 5px;
		}

		#form_content input {
			 outline: none;
			 transition: .2s all linear;
			 display: flex;
			 padding: 8px;
			 width: 100%;
			 margin: 10px 0;
			 height: 30px;
			 border: 2px solid #DCDCDC;
		}
		#form_content .form {
			margin-top: 10px;
			margin-bottom: 10px;
		}
		#form_content label {
			color: #2f2f2f;
			font-size: 1.1rem;
		}
		#selectGender {
			margin-left: 10px;
			padding: 3px;
			margin-top: 15px;
		}



/*Media queries*/
@media (max-width: 800px) {
	.picProfile {
		max-width: 200px;
		max-height: 200px;
	}
}
@media (max-width: 700px) {
	.lds-spinner {
		left: 45%;
	}
}
@media (max-width: 500px) {
	.lds-spinner {
		left: 40%;
	}

}

@media (max-width: 450px) {

	#profilDesktop {
		display: none;
	}

	#profilContent {
		margin-left: 5px;
	}
	#medlemSedan{
		margin-left: 5px;
		font-size: 1rem;
	}
	#pic {
			max-width: 150px;
			max-height: 150px;
	}
	#profilContent p {
			font-size: 1rem;
			padding-top: 4px;
			padding-bottom: 4px;
	}
	#lengthUser p {
			font-size: 1rem;
			padding-top: 4px;
			padding-bottom: 4px;
	}
	#innerProfil2 {
		padding-right: 0;
	}
	.picProfile {
		max-width: 150px;
		max-height: 150px;
		width:auto;
	    height:auto;
	    min-width: 100px;
	    flex: 0 0 auto;
	}
}
@media (max-width: 300px) {

	#moreInfoProfile {
		padding-left: 0;
		padding-right: 0;
	}

}


@media screen and (min-width: 601px){
	.headProfil{
		margin-top: 55px;
	}

	.containerProfile{
		flex: 1 50%;
	}

	#innerProfil2 {
		margin-top: 65px;
	}

	#containerProfil {
		width: 50%;
	}
	.form_content2 {
		margin: auto;
	}
	.form_content2 form {
		max-width: 400px;
	}
	#profilePicture{
		width: 160px;
		height: 160px;
	}
	.btnProfil {
		margin-top: 10px;
	}
	#pic2 {
		margin-top: 20px;
	}
	.divProfile {
		margin-left: 20px;
		margin-right: 20px;
	}

}

@media screen and (min-width: 800px){
	#profilePicture{
		width: 250px;
		height: 250px;
	}
	.profileInfo {
		margin-top: 30px;
	}

	.profileName {
		font-size: 1.2rem;
	}
	#locationCity {
		font-size: 1.1rem;
	}
	#markerLocation{
		font-size: 16px;
	}
	.divProfile p {
		font-size: 1.1rem;
		margin-left: 50px;
		margin-right: 50px;
	}
	#pic2 {
		margin-left: 20px;
	}
	.form_content2 .form {
		margin-left: 20px;
		margin-right: 20px;
	}
	.form_content2 {
		margin-left: 20px;
	}
	#innerProfil2 {
		padding-right: 10px;
	}
	#logOut {
		margin-top: 10px;
		margin-right: 10px;
	}
	.lds-spinner {
		left: 44%;
	}
}

@media screen and (min-width: 900px){
	.lds-spinner {
		left: 46%;
	}
}

@media screen and (min-width: 1000px){
	.lds-spinner {
		left: 47%;
	}
}

