/*Sara*/
* {
	box-sizing: border-box;
}

/*Login page*/
.containerLogin {
	height: 60%;
	width: 100%;
}

/*wrapUsers Mobile*/
#containerLoginMob {
	font-family: 'Open Sans', Arial, sans-serif;
	word-wrap: break-word;
	line-height: 30px;
	position: relative;
	font-size: 16px;
	background-color: #ffa834;
	width: 100%;

	min-width: 250px;
	display: flex;
  flex-wrap: wrap;
  justify-content: center;
	color: white;
}
	#containerLoginMob h1 {
		font-size: 4rem;
		text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
		text-align: center;
		font-family: 'Fugaz One';
		font-weight: bold;
		margin-top: 30%;
		margin: 0 auto;
		margin-top: 150px;
		letter-spacing: 1px;
	}
	#wrapBtnLogin {
		margin: 50px auto;
		width: 240px;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: flex-start;
	}
	.btnLogin{
		-webkit-box-shadow: -1px 4px 28px -1px rgba(0,0,0,0.2);
	  -moz-box-shadow: -1px 4px 28px -1px rgba(0,0,0,0.2);
	  box-shadow: -1px 4px 28px -1px rgba(0,0,0,0.2);
		font-family: 'Montserrat';
		font-size: 15px;
	}
	#iconF{
		font-size: 16px;
		padding: 0;
		margin: 0;
		margin: 0 10px 0 15px;
	}
	#iconG{
		font-size: 16px;
		padding: 0;
		margin: 0;
		margin: 0 10px 0 15px;

	}
	#wrapBtnLogin .btnLogin {
		width: 230px;
		border: 2px solid white;
		border-radius: 25px;
		display: flex;
		justify-content: flex-start;
		padding-top: 10px;
		padding-bottom: 10px;
		padding-right: 5px;
		padding-left: 5px;
		background-color: white;
		color: #23103A;

		animation-name: fadeIn;
		animation-delay: 2s;
		margin-bottom: 5px;
		margin-top: 10px;
		/*text-align: center;*/

	}

/** TEST PROFILE DESIGN **/
#contentProfil{

	height: 90%;
	width: 100%;

}


.headProfil{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	flex-wrap: wrap;
	width: 100%;
	height: 60%;
	background-image: linear-gradient(to top, #ffa834, #ffab3c, #ffaf43, #ffb24a, #ffb551);
}

#settings{
	color: white;
	position: absolute;
	top: 15px;
	right: 15px;
	font-size: 20px;

}

#markerLocation{
	font-size: 12px;
	margin: 0 5px 0 0;
	display: none;
}
#profilePicture{
	width: 150px;
	height: 150px;
	background-color: grey;
	border-radius: 50%;
	margin: 40px 0 0 0;
	-webkit-box-shadow: -1px 4px 28px -1px rgba(0,0,0,0.3);
	-moz-box-shadow: -1px 4px 28px -1px rgba(0,0,0,0.3);
	box-shadow: -1px 4px 28px -1px rgba(0,0,0,0.3);
}

.profileInfo{
	font-family: 'Montserrat';
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 50%;
	justify-content: center;
	margin: 15px 0 0 0;
}

.profileName{
	color: white;
	font-size: 17x;
}

.profileLocation{
	color: #f4f4f4;
	font-size: 14px;
	display: flex;
	flex-flow: row nowrap;
}

#containerSome{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;

	width: 100%;
	height: 40%;

}


.divProfile{
	height: 20%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	width: 95%;

	margin:0 0 10px 0;

}

.divProfile p{
	font-size: 16px;

	font-family: 'Montserrat';
	margin: 0 10px 0 10px;
}
.categori{
	color: white;
}
.dynamic{
	color: #f4f4f4;
}
	/*Profile page styles*/
	/*
	#containerProfil {
		font-family: 'Open Sans', Arial, sans-serif;
		word-wrap: break-word;
		line-height: 30px;
		position: relative;
		font-size: 16px;
		width: 100%;
		height: 100%;
		min-width: 250px;
		display: none;
		color: white;
		background-color: #FF6C00;
	}
	#innerProfil1 {
		display: block;
		width: 100%;
		height: 100%;
		background-color: transparent;
		padding-right: 5px;
		padding-left: 5px;
		min-width: 250px;
	}

	#userProfil {
		width: 100%;
		background-color: white;
		margin: 5px auto;
		display: block;
	}

	.btnProfil {
		width: 100%;
		background-color: white;
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		margin: 0 auto;
	}

		.btnProfil .btnsProfil {
			width: 170px;
			border: 2px solid white;
			border-radius: 5px;
			padding-top: 10px;
			padding-bottom: 10px;
			padding-right: 5px;
			padding-left: 5px;
			background-color: yellow;
			color: #23103A;
			font-size: 1.1rem;
			animation-name: fadeIn;
			animation-delay: 2s;
			margin-bottom: 5px;
			margin-top: 10px;
			text-align: center;
		}

		#userProfil {
			width: 100%;
			position: relative;
			color: white;
			transition: all .5s ease-out;
			display: flex;
			flex-flow: column nowrap;
			justify-content: flex-start;
		}

		#profilContent {
			display: flex;
			flex-flow: row nowrap;
			justify-content: flex-start;
			position: relative;
			margin-top: 10px;
			margin-left: 10px;
		}

		#text {
			width: 300px;
			padding-left: 0;
			color: #23103A;

		}

		#medlemSedan {
			color: #23103A;
			margin-top: 5px;
			margin-bottom: 5px;
			margin-left: 10px;
			font-size: 1.2rem;
		}

		#pic {
			max-width: 250px;
			max-height: 250px;
			width:auto;
	    	height:auto;
	    	min-width: 150px;
	    	flex: 0 0 auto;
	    	padding-right: 10px;
		}

		#profilContent p {
			font-size: 1.2rem;
			padding-top: 5px;
			padding-bottom: 5px;
			padding-left: 5px;
		}

		#locationUser .fas {
			margin-right: 10px;
			color: #23103A;
		}

	#lengthUser {
		width: 100%;
		position: relative;
		margin-top: 10px;
		margin-left: 10px;
		background-color: white;
		margin: 5px auto;
		padding-top: 2px;
		padding-bottom: 2px;
	}

		#lengthUser p {
			font-size: 1.2rem;
			padding-top: 2px;
			padding-bottom: 2px;
			padding-left: 8px;
			color: #23103A;
		}
		#ageUser {
			display: none;
		}
		#locationUser {
			display: none;
		}
		#genderUser {
			display: none;
		}*/
/*Edit profile page styles*/

/**EDIT PAGE **/

#innerProfil2 {
	display: none;
	width: 100%;
	position: relative;
	transition: all .5s ease-out;
	margin-left: 5px;
	margin-right: 5px;margin-top: 5px;
	min-width: 250px;
}
	.form_content2 {
		background-color: white;
	}

	.picProfile {
		max-width: 250px;
		max-height: 250px;
		width:auto;
	    height:auto;
	    min-width: 150px;
	    flex: 0 0 auto;
	}

	.btnProfil {
		width: 100%;
		background-color: white;
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		margin: 0 auto;
	}

		.btnProfil .btnsProfil {
			width: 170px;
			border: 2px solid white;
			border-radius: 5px;
			padding-top: 10px;
			padding-bottom: 10px;
			padding-right: 5px;
			padding-left: 5px;
			background-color: yellow;
			color: #23103A;
			font-size: 1.1rem;
			animation-name: fadeIn;
			animation-delay: 2s;
			margin-bottom: 5px;
			margin-top: 10px;
			text-align: center;
		}

/*Redigera profil vid första inloggning*/

#moreInfoProfile {
	position: absolute;
	z-index: 10;
	/*margin: auto;*/
	width: 300px;
	left: 20%;
	left: 0;
  	right: 0;
  	margin-left: auto;
  	margin-right: auto;
	background-color: white;
	top: 20%;
	border: 2px solid #B0E0E6;
	padding: 10px;
	display: none;
}

	#moreInfoProfile p {
		color: #23103A;
		font-size: 1.1rem;
	}

		div.formProfil {
			max-width: 400px;
			margin: 0 auto;
		}

		#form_content {
			padding: 5px;
		}

		#form_content input {
			 outline: none;
			 transition: .2s all linear;
			 display: flex;
			 padding: 8px;
			 width: 100%;
			 margin: 10px 0;
			 height: 30px;
		}
		#form_content form {
			margin-top: 10px;
			margin-bottom: 10px;
		}
		#form_content label {
			color: #23103A;
			font-size: 1.1rem;
		}
		#selectGender {
			margin-left: 10px;
			padding: 3px;
		}

/*Media queries*/
@media (max-width: 700px) {

}
@media (max-width: 500px) {

}

@media (max-width: 450px) {

	#profilContent {
		margin-left: 5px;
	}
	#medlemSedan{
		margin-left: 5px;
		font-size: 1rem;
	}
	#pic {
			max-width: 150px;
			max-height: 150px;
	}
	#profilContent p {
			font-size: 1rem;
			padding-top: 4px;
			padding-bottom: 4px;
	}
	#lengthUser p {
			font-size: 1rem;
			padding-top: 4px;
			padding-bottom: 4px;
	}
}
@media (max-width: 300px) {

	#moreInfoProfile {
		padding-left: 0;
		padding-right: 0;
	}

}
